body {
  font-family: $font-stack;
  background-color: #2f4050;
  font-size: 13px;
  color: $text-color;
}

a {
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

.hr-line-dashed {
  border-top: 1px dashed $border-color;
  color: white;
  background-color: white;
  height: 1px;
  margin: 20px 0;
}

.hr-line-solid {
  border-bottom: 1px solid $border-color;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.center-block{
  float:none;
}