<template name="sidebar">
  <nav class="sidebar" role="navigation">

    <header>
      <img src="/img/logo-white.png" class="logo-full" />
      <img src="/img/logo-compressed-white.png" class="logo-compressed" />
    </header>

    <ul class="nav" id="side-menu">
      <li>
        <a href="{{pathFor 'dashboard'}}">
          <i class="fa fa-th-large"></i> 
          <span class="nav-label">{{_ 'dashboard'}}</span> 
        </a>          
      </li>

      <li>
        <a href="{{pathFor 'productManageList'}}">
          <i class="fa fa-rocket"></i> 
          <span class="nav-label">{{_ 'product.products'}}</span> 
        </a>          
      </li>

      <li class="disabled">
        <a>
          <i class="fa fa-users"></i> 
          <span class="nav-label">{{_ 'users'}}</span> 
        </a>          
      </li>

      <li class="disabled">
        <a>
          <i class="fa fa-cc-stripe"></i> 
          <span class="nav-label">Stripe</span> 
        </a>          
      </li>

      <li class="disabled">
        <a>
          <i class="fa fa-area-chart"></i> 
          <span class="nav-label">{{_ 'analytics'}}</span> 
        </a>          
      </li>
    </ul>
    
  </nav>
</template>